<h1>Welcome Back {{username}}</h1>
<hr>
<br>
<div>
    <h2>All your blogs:</h2>
</div>
<br>
<br>


<form action="" id="newBlog" style="margin-left:20rem ;">
    <input type="text" style="height: 5rem ; width:25%; font-size: large;" id="title" placeholder="Title">
    <br>
    <textarea id="body"
        style="height: 15rem ; width:80%; background: rgb(162, 240, 143); font-size: x-large; "></textarea>
    <br>
    <button>Submit</button>
</form>

<div class="container justify-content-center">
    {{#each Blogs}}
    <h3>{{title}}</h3>
    {{!-- <h6>{{id}}</h6> --}}
    <h5>{{body}}</h5>

    <button><a href="/{{id}}">Update</a></button>
    <button type="button" class="delete-post-btn" data-id="{{id}}">delete</button>
    <hr>
    {{/each}}
</div>

<script src="/js/profile.js"></script>
